{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "globals": {
    "window": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "endOfLine": "auto"
      }
    ],
    "no-console": "warn",
    "no-debugger": "warn",
    "camelcase": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}
